
body.snapjay #bg{
    /*background-color: #03424B;*/
    background-color: #fff;
    background-image:url("../img/paper.jpg") ;
}

body.snapjay #fg{
    color: #000;
}

body.snapjay ::-moz-selection {
    background: #f6eec7;
    color: #826E1E;
}
body.snapjay ::selection {
    background: #f6eec7;
    color: #826E1E;
}

body.snapjay .menu li a {
    color: #826E1E;

}
body.snapjay .menu li.active a {
 opacity: 0.4;
}
body.snapjay .photo {
    position: relative;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
}
body.snapjay .photo{
    -webkit-transform: rotate(4.5deg);
    -ms-transform: rotate(4.5deg);
    transform: rotate(4.5deg);

}
body.snapjay .photo:hover{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);

}
body.snapjay .photo img {

    width: 80%;
    margin-top: 40px;

}
body.snapjay .photo .tape{
    position: absolute;
    background-color: rgba(249, 240, 204, 0.70);
    width: 104px;
    height: 26px;
    -webkit-transform: rotate(-25.5deg);
    -ms-transform: rotate(-25.5deg);
    transform: rotate(-25.5deg);
    z-index: 10;

}

body.snapjay h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 120px;
}

body.snapjay h2 {
    color: #b49419;
    font-size: 35px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.box_rotate {

}