body.contact ::-moz-selection {
    background: rgba(190, 246, 213, 0.44);
    color: #015E00;
}

body.contact ::selection {
    background: rgba(190, 246, 213, 0.44);
    color: #015E00;
}

body.contact {
    background-color: #fff;
}

body.contact .menu li a {
    color: rgba(4, 78, 23, 0.7)
}

body.contact .menu li.active a {
    color: #1A1B1F;
}

body.contact h1 {
    margin-bottom: 5px;
}

body.contact h2 {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
}

body.contact .icon {
    transition-property: width fill opacity;
    -webkit-transition-property: width fill opacity;
    transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
    opacity: 0.3;
    width: 50%;
    fill: #fff;
}

body.contact .icon:hover {
    opacity: 1;
    width: 60%;
}

body.contact .links {
    text-align: center;
}

body.contact .icon.mail:hover {
    fill: #015E00;
}

body.contact .icon.github:hover {
    fill: #333;
}

body.contact .icon.twitter:hover {
    fill: #00aced;
}

body.contact .icon.facebook:hover {
    fill: #3b5998;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../img/contact/poster.jpg) no-repeat;
    background-size: cover;
}