
<!-- (http://codepen.io/nickpettit/pen/eBCrK) -->


<div class="container" style="padding-bottom: 200px; ">
    <h1>credits</h1>
    <div class="row">
        <div class="col-md-6">
            <p>I have worked on a variety of projects from early stage prototypes to full production websites. I've experienced freelance, run my own websites. Worked with
                small start-ups environments and small agencies.</p>

            </div>
        <div class="col-md-6">

            <p> Following are some brands I've worked on projects for.  <br /><a ui-sref="contact">Contact me</a> to learn more about the ones that interest you:</p>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="bd">
                <li>First Plus</li>
                <li>Lloyds TSB</li>
                <li>Intel</li>
                <li>Lonley Planet</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="bd">
                <li>TD Rewards</li>
                <li>Telus Mobility</li>
                <li>eBay.co.uk</li>
                <li>Top Gear</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="bd">
                <li>UK Payments Administration</li>
                <li>BBC Worldwide</li>
                <li>Channel 4</li>
                <li>currys.co.uk</li>
            </ul>
        </div>


    </div>
</div>



<div id="hills">

    <div class="windmill">
        <svg viewBox="0 0 200 200" class="icon blades">
            <use xlink:href="#svg_blades"></use>
        </svg>
        <div class="tower"></div>
    </div>


    <svg viewBox="0 0 381 231" class="icon cow  hidden-xs" style="left:10%; bottom: 10px; width: 70px;">
    <use xlink:href="#svg_cow"></use>
    </svg>

    <svg viewBox="0 0 381 231" class="icon cow " style="left:45%; bottom: 30px; width: 100px;">
    <use xlink:href="#svg_cow" transform="translate(381, 0) scale(-1, 1) "></use>
    </svg>

    <svg viewBox="0 0 381 231" class="icon cow" style="left:80%;  bottom: 5px; width: 89px;">
    <use xlink:href="#svg_cow"></use>
    </svg>


    <svg viewBox="0 0 352 344" class="icon barn hidden-xs " >
    <use xlink:href="#svg_barn"></use>
    </svg>



    <div id="tractor">

    <svg viewBox="0 0 522 522" class="icon tractor">
    <use xlink:href="#svg_tractor"></use>
    </svg>

    <svg viewBox="0 0 150 150" class="icon wheel wheelb">
    <use xlink:href="#svg_wheels"></use>
    </svg>

    <svg viewBox="0 0 150 150" class="icon wheel wheelf">
    <use xlink:href="#svg_wheels"></use>
    </svg>

    <!--<img src="/img/credits/tractor_wheel.svg" class="wheelb"/>-->
    <!--<img src="/img/credits/tractor_wheel.svg" class="wheelf"/>-->
    </div>


</div>