<div class="container-fluid">
    <div class="row">

        <div class="col-md-6 col-sm-offset-3">

            <h1>Lets Be Friends!</h1>

            <h2>Dan Shreim</h2>

            <p>I am currently based in Toronto, Canada.<br />
                If you'd like to hire me or want to learn more, please make contact: </p>

            <div class="row links">

                <div class="col-md-3">
                    <a href="mailto:dan@snapjay.com" target="_blank">
                        <svg viewBox="0 0 100 100" class="icon mail">
                            <use xlink:href="#svg_mail"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.linkedin.com/profile/view?id=18683312" target="_blank">
                        <svg viewBox="0 0 100 100" class="icon linkedin">
                            <use xlink:href="#svg_linkedin"></use>
                        </svg>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://github.com/snapjay" target="_blank">
                        <svg viewBox="0 0 100 100" class="icon github">
                            <use xlink:href="#svg_github"></use>
                        </svg>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="http://twitter.com/snapjay" target="_blank">
                        <svg viewBox="0 0 100 100" class="icon twitter">
                            <use xlink:href="#svg_twitter"></use>
                        </svg>
                    </a>
                </div>
                <!--<div class="col-md-3">-->
                    <!--<a href="http://facebook.com/danshreim" target="_blank">-->
                        <!--<svg viewBox="0 0 100 100" class="icon facebook">-->
                            <!--<use xlink:href="#svg_facebook"></use>-->
                        <!--</svg>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>