<!-- (http://codepen.io/nickpettit/pen/eBCrK) -->


<div class="container" style="padding-bottom: 200px; ">
    <h1>credits</h1>

    <div class="row">
        <div class="col-md-6">
            <p>I have worked on a variety of projects from early stage prototypes to full production websites. I've
                experienced freelance, run my own websites. Worked with
                small start-ups environments and small agencies.</p>
        </div>

        <div class="col-md-6">
            <p> Following are some brands I've worked on projects for. <br/><a ui-sref="contact">Contact me</a> to learn
                more about the ones that interest you:</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="bd">
                <li><h3>Telus Mobility</h3>
                    <ul class="tags">
                        <li>microsite</li>
                        <li>web application</li>
                        <li>front end</li>
                        <li>production</li>
                    </ul></li>
                <li><h3>Lloyds TSB</h3>
                    <ul class="tags">
                        <li>prototype</li>

                    </ul></li>
                <li><h3>Intel</h3>
                    <ul class="tags">
                        <li>microsite</li>
                        <li>full stack</li>
                    </ul></li>
                <li><h3>Pizza Pizza</h3>
                    <ul class="tags">
                        <li>web application</li>
                        <li>front end</li>
                        <li>production</li>
                    </ul></li>
                <li><h3>Lonley Planet</h3>
                    <ul class="tags">
                        <li>prototype</li>
                    </ul></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="bd">
                <li><h3>TD Rewards</h3>
                    <ul class="tags">
                        <li>feature enhancements</li>
                        <li>platform maintenance</li>
                        <li>production</li>
                    </ul></li>
                <li><h3>First Plus</h3>
                    <ul class="tags">
                        <li>prototype</li>
                    </ul>
                </li>
                <li><h3>eBay.co.uk</h3>
                    <ul class="tags">
                        <li>proof of concept</li>
                    </ul></li>
                <li><h3>Top Gear</h3>
                    <ul class="tags">
                        <li>prototype</li>
                        <li>proof of concept</li>
                    </ul></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="bd">
                <li><h3>UK Payments Administration</h3>
                    <ul class="tags">
                        <li>prototype</li>
                        <li>proof of physical concept</li>

                    </ul></li>
                <li><h3>BBC Worldwide</h3>
                    <ul class="tags">
                        <li>prototype</li>
                        <li>proof of concept</li>
                    </ul></li>
                <li><h3>currys.co.uk</h3>
                    <ul class="tags">
                        <li>prototype</li>
                        <li>front end enhancements</li>
                    </ul></li>
                <li><h3>Channel 4</h3>
                    <ul class="tags">
                        <li>prototype</li>
                    </ul></li>
            </ul>
        </div>


    </div>
</div>


<div id="hills">

    <div class="windmill">
        <svg viewBox="0 0 200 200" class="icon blades">
            <use xlink:href="#svg_blades"></use>
        </svg>
        <div class="tower"></div>
    </div>


    <svg viewBox="0 0 381 231" class="icon cow  hidden-xs" style="left:10%; bottom: 10px; width: 70px;">
        <use xlink:href="#svg_cow"></use>
    </svg>

    <svg viewBox="0 0 381 231" class="icon cow " style="left:45%; bottom: 30px; width: 100px;">
        <use xlink:href="#svg_cow" transform="translate(381, 0) scale(-1, 1) "></use>
    </svg>

    <svg viewBox="0 0 381 231" class="icon cow" style="left:80%;  bottom: 5px; width: 89px;">
        <use xlink:href="#svg_cow"></use>
    </svg>


    <svg viewBox="0 0 352 344" class="icon barn hidden-xs ">
        <use xlink:href="#svg_barn"></use>
    </svg>


    <div id="tractor">

        <svg viewBox="0 0 522 522" class="icon tractor">
            <use xlink:href="#svg_tractor"></use>
        </svg>

        <svg viewBox="0 0 150 150" class="icon wheel wheelb">
            <use xlink:href="#svg_wheels"></use>
        </svg>

        <svg viewBox="0 0 150 150" class="icon wheel wheelf">
            <use xlink:href="#svg_wheels"></use>
        </svg>

        <!--<img src="/img/credits/tractor_wheel.svg" class="wheelb"/>-->
        <!--<img src="/img/credits/tractor_wheel.svg" class="wheelf"/>-->
    </div>


</div>