<nav>
    <ul class="menu" role="navigation" >
        <li ng-class="{active: active=='snapjay'}"><a ui-sref="snapjay" >snapjay</a></li>
        <li ng-class="{active: active=='skills'}"><a ui-sref="skills" >skills</a></li>
        <li ng-class="{active: active=='credits'}"><a ui-sref="credits" >credits</a></li>
        <li ng-class="{active: active=='play'}"><a ui-sref="play" >play</a></li>
        <li ng-class="{active: active=='contact'}"><a ui-sref="contact" >contact</a></li>
    </ul>
</nav>