
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <h1 ng-click="setActive('hockey')">play</h1>

                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ul class="icons">
                            <li ng-class="{active:active =='hockey'}" ng-click="setActive('hockey')">
                                <svg viewBox="0 0 100 100" class="icon hockey">
                                    <use xlink:href="#svg_hockey"></use>
                                </svg>
                            </li>
                            <li ng-class="{active:active =='cooking'}" ng-click="setActive('cooking')">
                                <svg viewBox="0 0 100 100" class="icon cooking">
                                    <use xlink:href="#svg_cooking"></use>
                                </svg>
                            </li>
                            <li ng-class="{active:active == 'football'}" ng-click="setActive('football')">
                                <svg viewBox="0 0 100 100" class="icon football">
                                    <use xlink:href="#svg_football"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                        <div class="content" >
                            <div class="slide" ng-class="{active:active =='hockey'}">
                                <h2>Ice Hockey</h2>
                                <p>I'm a huge fan of ice hockey and have been playing for over 10 years.</p>
                                <p>I've played in leagues, tournaments and recreational, but prefer now a relaxed pick-up.</p>
                                <p>In winter I'll most likely be found playing on an outdoor surface.</p>
                            </div>

                            <div class="slide" ng-class="{active:active =='cooking'}">
                                <h2>Cooking</h2>
                                <p>I'm passionate about cooking and good food; I rarely purchase products that have a nutrition label; I like to create everything from scratch using raw ingredients.</p>
                                <p>I'll make my own butter, mayonnaise, soups, flour, chili, pies, breads etc. </p>
                            </div>

                            <div class="slide" ng-class="{active:active =='football'}">
                                <h2>Football</h2>
                                <p>I'm a fan of NCAA football games.</p>
                                <p>In 2010 I co-founded the <a href="http://www.torontogayfootball.com/">TGFL</a>. Canada's first LGBT flag football league.</p>
                                <p>While I no longer serve on the executive, the league is still going strong with 2 divisions, 14 teams and over 180 players providing an inclusive environment for people to play football.</p>

                            </div>

                            <div class="slide" ng-class="{active:active =='jeep'}">
                                <h2>Off Roading</h2>
                                <p>I'm excited to explore the offroad in a Jeep, dirtbike or ATV and find Geocaches.</p>
                                <p>Exploring the back trails is only a success if Jeep comes back covered in more mud than paint.</p>
                            </div>

                            <div class="slide" ng-class="{active:active =='food'}">
                                <h2>Food and Agriculture</h2>
                                <p>I am very interested agriculture and mass food production industries.</p>
                                <p>When sourcing my food I try to purchase from local farmers where I can be assure of animal welfare or no artificial ingredients.</p>
                                <p>I grow my own non-GMO, non-hybrid, heritage strains of herbs, fruits and vegetables.</p>
                            </div>

                            <div class="slide" ng-class="{active:active =='boot'}">
                                <h2>Country</h2>
                                <p>I a big fan of country culture.</p>
                                <p>I listen country music and somehow end up at every country concert or festival that comes to town.</p>
                                <p>I enjoy summer evening under the stars, tailgates, fires and demo derby.</p>
                            </div>


                            <div class="slide" ng-class="{active:!active}">
                                <h2>Who am I?</h2>
                                <p>Born and raised in London UK, In 2009, I moved to Toronto, Canada in search of adventure.</p>
                                <p>I balance my time behind the screen by keeping active and healthy.</p>
                                <p>Click an icon to explore my spare time.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <ul class="icons">
                            <li ng-class="{active:active =='jeep'}" ng-click="setActive('jeep')">
                                <svg viewBox="0 0 100 100" class="icon jeep">
                                    <use xlink:href="#svg_jeep"></use>
                                </svg>
                            </li>
                            <li ng-class="{active:active =='food'}" ng-click="setActive('food')">
                                <svg viewBox="0 0 100 100" class="icon food">
                                    <use xlink:href="#svg_food"></use>
                                </svg>
                            </li>
                            <li ng-class="{active:active =='boot'}" ng-click="setActive('boot')">
                                <svg viewBox="0 0 100 100" class="icon boot">
                                    <use xlink:href="#svg_boot"></use>
                                </svg>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>


        </div>
    </div>
