<sky stars="229"></sky>

<div id="shootingstar"></div>

<!--<div id="plane">-->
    <!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
	 <!--width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">-->
<!--<circle fill="#A00A0A" cx="5" cy="5" r="2"/>-->
<!--<circle fill="#1C4907" cx="4" cy="46" r="2"/>-->
<!--<circle fill="#FCFCFC" cx="9" cy="5" r="2"/>-->
<!--<circle fill="#FCFCFC" cx="8" cy="46" r="2"/>-->
<!--<circle fill="#FCFCFC" cx="20" cy="24" r="2"/>-->
<!--</svg>-->


</div>

<div class="row">
    <div class="col-sm-3  col-xs-1 hidden-xs">
        <svg viewBox="0 0 1280 855" class="icon tree" style="width: 124%;  margin-left: -20px;">
            <use xlink:href="#svg_tree"></use>
        </svg>
        <svg viewBox="0 0 1280 855" class="icon tree"
             style="margin-left: -36px;  transform: rotate(20deg);  width: 138%;  margin-top: 38px;">
            <use xlink:href="#svg_tree"></use>
        </svg>

    </div>
    <div class="col-sm-6 col-xs-10"></div>


    <div class="col-sm-3 col-sm-offset-6 hidden-xs">
        <svg viewBox="0 0 1280 855" class="icon tree" style="transform:rotate(160deg); width: 180%;">
            <use xlink:href="#svg_tree"></use>
        </svg>
        <svg viewBox="0 0 1280 855" class="icon tree" style="transform:rotate(190deg); width: 152%;">
            <use xlink:href="#svg_tree"></use>
        </svg>

    </div>
</div>

