<h1>skills</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <p>My career has primarily focused on font-end development JavaScript, HTML and CSS, however I am
                proficient in backend development using PHP and Laravel framework.</p>


        </div>
        <div class="col-md-6">
            <p>I use rapid prototyping and wire framing. I like code to be efficient and elegant. This means that I can develop complex functionality while maintaining a high user experience.</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4"><h2>Client Side</h2>
            <ul class="bd">
                <li>AngularJS</li>
                <li>MVC, MVW JavaScript</li>
                <li>Single-page application</li>
                <li>NodeJS, Gulp (and Grunt)</li>
                <li>Less, Bootstrap</li>
                <li>Bower</li>
                <li>Selenium, Karma, Protractor, TravisCI</li>
                <li>Not using jQuery!</li>
            </ul>
        </div>
        <div class="col-md-4"><h2>Server Side</h2>
            <ul class="bd">
                <li>PHP</li>
                <li>Laravel</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Apache</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Concepts</h2>

            <ul class="bd">
                <li>Performance optimization</li>
                <li>Rapid prototyping, wireframing</li>
                <li>Usability</li>
                <li>Responsive Design</li>
                <li>Unit, E2E testing</li>
                <li>SEO</li>
            </ul>
        </div>
    </div>

</div>
