
<div class="container">

    <div class="row">
        <div class="col-sm-6 col-md-8">
            <h1>Hey, <br/> It's Dan!</h1>
            <h2>An experienced front end web developer.</h2>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="photo">
                <div class="tape" style="top: 37px;left: -16px;"></div>
                <div class="tape" style="bottom: -2px;right: 48px;"></div>
                <a ui-sref="contact"><img  src="img/snapjay.jpg" alt="dan shreim"/></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"><p>I have been building websites for over 15 years.
            With a background in all aspects, I specialise in front end AngularJS development.</p>
            <p>I believe in attention to detail, prototyping and user testing.
            I maintain integrity; not blindly write code that can not be rationalised.</p></div>
        <div class="col-md-4"><p>I understand the balance between maintaining customer experience and business objectives.</p>
            <p>I am expert in JavaScript and building interfaces that provide optimum user experience without compromising the business rules.</p>
        </div>
        <div class="col-md-4">
            <p>I have worked in conjunction with award-winning agencies on projects for Intel, TD Canada Trust, eBay UK,
                BBC Worldwide, Telus Mobility <a ui-sref="credits"> and more</a>.</p>

        </div>

    </div>
</div>
</div>