
@import "/public/bower_components/bootstrap/less/variables";
@import "/public/bower_components/bootstrap/less/mixins";

///APP VARIABLES

@font-Lato: 'Lato', sans-serif;
@font-Alegreya: 'Alegreya Sans SC', serif;
@font-Amatic: 'Amatic SC', cursive;
//BOOTSTRAP VARIABLES
//* Remember to rebuild bootstrap.less if you change any bootstrap variables

@font-family-sans-serif:  "tthinregular", "Helvetica Neue", Helvetica, Arial, sans-serif;

