@import './base.css';

#app {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  height: 100%;
}

@media (max-width: 1200px) {

  html,
  body {
    width: 100vw;
    background-color: #000;
  }

  #app {
    padding-left: 0;
    grid-template-columns: 1fr;
    grid-gap: 0;
    width: 100%;
  }

  img.hero {
    display: none;
  }

  .panel {
    margin-bottom: 30px;
  }
}

h1,
h2,
h3 {
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px #000000;
}

h1 {
  font-size: 6.5rem;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  line-height: 0.9;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 0.9;
}

h3 {
  font-size: 2rem;
  text-transform: lowercase;
  line-height: 0.9;
}

.invert {
  color: #000;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.invert h2,
.invert h1 {
  color: #000;
  text-shadow: none;
}

h1.black,
h2.black,
h3.black {
  color: #000;
  text-shadow: none;
}

.pad {
  padding: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid #666363;
  margin: 1rem 0;
}

.invert hr {
  border: 0;
  border-top: 1px solid #d4d1d1;
  margin: 1rem 0;
}

img.hero {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  max-width: 500px;
}

img.grow {
  transition: transform 0.3s ease-in-out;
}

img.grow:hover {
  transform: scale(1.1);
}

q {
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
  background-color: #000;
  quotes: none;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 0 0 0.5rem 0.5rem;
}

q .credit {
  font-size: 1rem;
  text-align: right;
  padding: 0.5rem;
}