//$headings-font-family: "Alegreya Sans SC","Helvetica Neue",Helvetica,Arial,sans-serif;
//$headings-color: #5221b4;
//$h1-font-size: 45px;

$snapjay: #826E1E;
$skills: #43acee;
$credits: #2FA231;
$play: #ebc85f;
$contact: #015E00;
